<div
  class="flex flex-row justify-between items-center w-full py-4 bg-white pt-4 border-t border-gray-200 border-t-[1px]">
  <!-- Page size dropdown -->
  <div class="!w-[100px] mr-4">
    <mat-form-field appearance="outline" class="!w-[100px] !h-[40px] ">
      <mat-select [disabled]="disabled()" [value]="pagination().pageSize"
        (selectionChange)="onPageSizeChangeFn($event)" class=" !h-[25px] ">
        <mat-option *ngFor="let size of pageSizeOptions()" [value]="size">
          {{ size }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex items-center justify-center mt-2 w-full">
    <!-- Previous button -->
    <button mat-fab color="secondary"
      [disabled]="pagination().pageNumber <= 1 || disabled()"
      (click)="onPrevious()"
      class="text-gray-600 hover:text-gray-900 disabled:text-gray-300 custom-fab-button">
      <mat-icon class="custom-icon">chevron_left</mat-icon>
    </button>

    <!-- Page buttons -->
    <div class="flex items-center mx-4">
      <ng-container *ngFor="let page of pages; let i = index">
        <ng-container *ngIf="page >= 1; else dots">
          <button mat-fab
            [color]="page === pagination().pageNumber ?'primary': 'secondary'"
            class="mx-1 custom-fab-button" [disabled]="disabled()"
            (click)="changePage(page)">
            <span>{{ page }}</span>
          </button>
        </ng-container>
        <ng-template #dots>
          <span class="mx-2 text-gray-500">...</span>
        </ng-template>
      </ng-container>
    </div>

    <!-- Next button -->
    <button mat-fab color="secondary"
      [disabled]="pagination().pageNumber >= pagination().totalPages || disabled()"
      (click)="onNext()"
      class="text-gray-600 hover:text-gray-900 disabled:text-gray-300 custom-fab-button">
      <mat-icon class="custom-icon">chevron_right</mat-icon>
    </button>
  </div>
 <div class="w-[100px]"></div>

</div>
