.username-txt {
  color: #fff;
  font-family: Inter;
  font-size: 11.531px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px; /* 151.762% */
}
.user-plan-txt {
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 9.844px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 142.222% */
}
.user-initials-txt {
  color: #000;
  font-family: Inter;
  font-size: 11.916px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px; /* 146.866% */
}
