<app-main-page-structure
  [routesLinks]="CurrentPagePath()"
  [currentActiveTab]="SideNavTabs.SYSTEM_AGENTS"
>
  <ng-content page-content>
    <!-- Loading indicator overlay -->
      <div
        *ngIf="loading$ | async"
        class="absolute inset-0 bg-white bg-opacity-70 z-10 flex items-center justify-center"
      >
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    <div></div>
    <div class="flex flex-row flex-wrap gap-4 w-full h-auto overflow-y-auto">
      <app-agent-summary-card
      *ngFor="let agent of agentsList"
      [agent]="agent"
      ></app-agent-summary-card>
    </div>
  </ng-content>
</app-main-page-structure>
