<div
  class="flex flex-row justify-start items-center h-[44px] w-full gap-[24px]"
  [ngClass]="{
    'bg-[linear-gradient(90deg,_rgba(255,255,255,0.1)_0%,_rgba(255,255,255,0)_100%)]':
      isActive(),
    'hover:bg-[rgba(255,255,255,0.05)] hover:cursor-pointer':
      !isActive() && !isDisabled()
  }"
  (click)="navigateToTabPage()"
>
  <div
    class="flex flex-col w-[4px] h-[44px]"
    [ngClass]="{
      'bg-[var(--primary-color)]': isActive()
    }"
  ></div>
  <div class="flex flex-row items-center gap-[12px]">
    <img [src]="icon()" alt="boot logo" />
    <h1 class="tab-title-txt">{{ tabTitle() }}</h1>
  </div>
</div>
