<div
  class="flex flex-row items-center justify-between h-screen w-screen p-[16px]"
>
  <div class="flex flex-col items-center justify-center w-full md:w-1/2 h-full">
    <app-register-form
      (navigateToLogin)="goToLogin()"
      class="w-full max-h-[calc(100%-32px)] overflow-y-auto"
    ></app-register-form>
  </div>
  <div class="hidden md:block w-1/2 h-full">
    <img
      src="../../../../../../assets/images/auth-side-image.png"
      alt=" Authentication Side Image"
      class="w-full h-full object-cover rounded-[20px] shadow-lg"
    />
  </div>
</div>
