<app-main-page-structure
  [routesLinks]="CurrentPagePath()"
  [currentActiveTab]="SideNavTabs.SYSTEM_AGENTS"
>
  <ng-content page-content>
    <div class="agent-view-container">
      <!-- Loading State -->
      <div *ngIf="agentLoading$ | async" class="loading-container">
        <mat-spinner></mat-spinner>
      </div>

      <!-- Main Content -->
      <div *ngIf="!(agentLoading$ | async)" class="flex flex-col justify-start items-start gap-4 w-full h-full">
        <!-- Agent Details Section -->
          <app-agent-card [agent]="selectedAgent!" class=" w-full"></app-agent-card>
        <!-- Agent Interviews Section -->
        <mat-card
          class="flex fles-row justify-start items-start w-full p-4 !rounded-lg"
          *ngIf="(agent$ | async)?.role === AgentType.Interviewer"
        >
          <app-interview-list class="w-full"></app-interview-list>
        </mat-card>
      </div>
    </div>
  </ng-content>
</app-main-page-structure>
